    /// <summary>
    /// {{Description}}
    /// </summary>
{{#IsRequired}}
    [System.ComponentModel.DataAnnotations.Required(ErrorMessage = "{{Name}} is required")]
{{/IsRequired}}
{{#IsDeprecated}}
    [Obsolete("This property is deprecated.")]
{{/IsDeprecated}}
{{#IsRequiredArgument}}
{{#UseRequiredKeyword}}
    public required {{{PropertyWrapper}}} {{Name}}
    {
        get => GetRequiredArgument<{{{PropertyWrapper}}}>("{{TerraformName}}");
        set => SetArgument("{{TerraformName}}", value);
    }

{{/UseRequiredKeyword}}
{{#UseNullable}}
    public {{{PropertyWrapper}}}? {{Name}}
    {
        get => GetArgument<{{{PropertyWrapper}}}>("{{TerraformName}}");
        set => SetArgument("{{TerraformName}}", value);
    }

{{/UseNullable}}
{{/IsRequiredArgument}}
{{#IsOptionalArgument}}
{{#UseRequiredKeyword}}
    public required {{{PropertyWrapper}}} {{Name}}
    {
        get => GetRequiredArgument<{{{PropertyWrapper}}}>("{{TerraformName}}");
        set => SetArgument("{{TerraformName}}", value);
    }

{{/UseRequiredKeyword}}
{{#UseNullable}}
    public {{{PropertyWrapper}}}? {{Name}}
    {
        get => GetArgument<{{{PropertyWrapper}}}>("{{TerraformName}}");
        set => SetArgument("{{TerraformName}}", value);
    }

{{/UseNullable}}
{{/IsOptionalArgument}}
{{#IsOptionalAndComputed}}
    public {{{PropertyWrapper}}} {{Name}}
    {
        get => GetArgument<{{{PropertyWrapper}}}>("{{TerraformName}}") ?? CreateReference("{{TerraformName}}");
        set => SetArgument("{{TerraformName}}", value);
    }

{{/IsOptionalAndComputed}}
{{#IsComputedAttribute}}
    public {{{PropertyWrapper}}} {{Name}}
        => CreateReference("{{TerraformName}}");

{{/IsComputedAttribute}}
