/// <summary>
/// Block type for {{TerraformName}} in {{../ClassName}}.
/// Nesting mode: {{NestingMode}}
/// </summary>
{{#IsDeprecated}}
[Obsolete("This block is deprecated.")]
{{/IsDeprecated}}
public class {{ClassName}} : TerraformBlock
{
    /// <summary>
    /// Gets the block type.
    /// </summary>
    public override string BlockType => "{{TerraformName}}";

{{#Arguments}}
{{>_argument}}
{{/Arguments}}
}
