    /// <summary>
    /// {{Name}} block (nesting mode: {{NestingMode}}).
{{#IsRequired}}
    /// This block is required.
{{/IsRequired}}
    /// </summary>
{{#HasValidation}}
{{#ValidationAttributes}}
    {{{.}}}
{{/ValidationAttributes}}
{{/HasValidation}}
{{#IsDeprecated}}
    [Obsolete("This block is deprecated.")]
{{/IsDeprecated}}
{{#IsRequired}}
    public required {{{BlockPropertyType}}} {{Name}}
    {
        get => GetRequiredArgument<{{{BlockPropertyType}}}>("{{TerraformName}}");
        set => SetArgument("{{TerraformName}}", value);
    }

{{/IsRequired}}
{{^IsRequired}}
    public {{{BlockPropertyType}}}? {{Name}}
    {
        get => GetArgument<{{{BlockPropertyType}}}>("{{TerraformName}}");
        set => SetArgument("{{TerraformName}}", value);
    }

{{/IsRequired}}
