using EmmittJ.Terraform.Sdk;

namespace {{Namespace}};

{{#BlockTypes}}
{{>_block}}

{{/BlockTypes}}
/// <summary>
/// Represents a {{TerraformName}} Terraform data source.
/// {{#Description}}
/// {{Description}}
/// {{/Description}}
/// </summary>
{{#IsDeprecated}}
[Obsolete("This data source is deprecated.")]
{{/IsDeprecated}}
public partial class {{ClassName}} : TerraformDataSource
{
    /// <summary>
    /// Initializes a new instance of the <see cref="{{ClassName}}"/> class.
    /// </summary>
    /// <param name="stack">The Terraform stack this data source belongs to.</param>
    /// <param name="name">The unique name for this data source instance.</param>
    public {{ClassName}}(TerraformStack stack, string name) : base(stack, "{{TerraformName}}", name)
    {
    }

{{#Arguments}}
{{>_argument}}
{{/Arguments}}
}
