using EmmittJ.Terraform.Sdk;

namespace {{Namespace}};

{{#BlockTypes}}
{{>_block}}

{{/BlockTypes}}
/// <summary>
/// Represents a {{TerraformType}} Terraform data source.
{{#Description}}
/// {{Description}}
{{/Description}}
/// </summary>
{{#IsDeprecated}}
[Obsolete("This resource is deprecated.")]
{{/IsDeprecated}}
public partial class {{ClassName}}(string name) : TerraformDataSource("{{{TerraformType}}}", name)
{
{{#AllArguments}}
{{>_argument}}
{{/AllArguments}}
{{#BlockTypes}}
{{>_blockproperty}}
{{/BlockTypes}}
}
