using EmmittJ.Terraform.Sdk;

namespace {{Namespace}};

/// <summary>
/// Represents the {{ProviderName}} Terraform provider.
{{#Description}}
/// {{Description}}
{{/Description}}
/// Version: {{Version}}
/// Resources: {{ResourceCount}}
/// Data Sources: {{DataSourceCount}}
/// </summary>
public partial class {{ClassName}}(string name = "{{ProviderName}}") : TerraformProvider(name)
{
{{#Arguments}}
{{>_argument}}
{{/Arguments}}
}
