using EmmittJ.Terraform.Sdk;

namespace {{Namespace}};

{{#BlockTypes}}
{{>_block}}

{{/BlockTypes}}
/// <summary>
/// Represents a {{TerraformType}} Terraform resource.
{{#Description}}
/// {{Description}}
{{/Description}}
/// </summary>
{{#IsDeprecated}}
[Obsolete("This resource is deprecated.")]
{{/IsDeprecated}}
public partial class {{ClassName}}(string name) : TerraformResource("{{{TerraformType}}}", name)
{
{{#Arguments}}
{{>_argument}}
{{/Arguments}}
}
